/* body{

margin:0;

font-family:
Inter,
Arial;

background:#05070d;

color:white;

}


.app{

max-width:430px;

margin:auto;

padding:20px;

}


header{

text-align:center;

}


.logo{

width:70px;

}


h1{

margin:5px;

}



.connect{

width:100%;

padding:15px;

border-radius:18px;

border:none;

background:#ff7a00;

color:white;

font-size:16px;

display:flex;

gap:10px;

justify-content:center;

}




.card,
.vault{

background:#111827;

border-radius:25px;

padding:20px;

margin-top:20px;

}



.row{

display:flex;

gap:15px;

align-items:center;

}



button{

margin-top:15px;

width:100%;

padding:14px;

border-radius:16px;

border:none;

background:#f97316;

color:white;

font-weight:bold;

}



button+button{

background:#374151;

}



.price{

padding:15px 0;

display:flex;

gap:10px;

} */
